
#header{
    height:200px;
    background-color: lightpink;
}
#header h1{
    text-align: center;
}
.top-nav{
    float:right;
}
.top-nav ul li{
    display:inline;
}
#content{
    min-height:400px;
    background-color: #f4f4f6;
}

#footer {
    text-align: center;
    font-weight: bold;
    background-color: #f4f4c5;
}