<div id="resetuserpassword">
    <h3>Please Reset your password here..</h3>
    <p>
        Old Password : <input type="password"  data-ng-model="resetUser.oldPassword" />
    </p>
    <p>
        New Password : <input type="password" data-ng-model="resetUser.password1" />
    </p>
    <p>
        Confirm Password : <input type="password"  data-ng-model="resetUser.password2"/>
    </p>
    <p>
        <input type="button"  data-ng-click="resetPassword(resetUser.oldPassword,resetUser.password1, resetUser.password2)" value="Reset Password" />
    </p>
</div>